* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

.smb-gallery {
  display: flex;
  max-width: 800px;
}


.grid {
}


.gutter-sizer {
  width: 1.33%;
}


.grid-sizer,
.grid-item {
  width: 24%;
}

.grid-item {
  margin-bottom: 10px;
}

.grid-item {
  float: left;
}

.grid-item:hover {
  /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4); */
}

.grid-item img {
  /*display: block;*/
  max-width: 100%;
}

.grid-item--horizontal {
}

.grid-item--vertical {
}
