
.smb-page-title {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .smb-page-title {font-size: 30px;}
}



.smb-post-title {
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}

.smb-container-centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.smb-navbar-link {
  font-size: 14px;
  font-weight: 800;
}

.smb-full-width {
  width: 100%;
}



.smb-blog-title {
  display: none;
}

.smb-blog-title-mobile {
  /*float: right;*/
  display: flex;
  justify-content is space-between;
  height: 50px;
  padding: 5px 5px;
  line-height: 30px;
}


@media (min-width: 768px) {
  
.smb-blog-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.smb-blog-title-mobile {
  display: none;
}

}



.smb-page-heading {
  margin-top: 10px;
}
