<div class="img-container">
  <img src="{{url}}" alt="Not loaded." class="center-block">
  <a {{{hyperlink}}} target="_blank">
    <span class="img-caption-corner" style="display: inline;">{{caption}}</span>
  </a>  
</div> 
