---
layout: blog
navbar: false
show_avatar: false
title: {{title}}
title_slug: {{title}}
subtitle: 
comments: false
image: {{cover_url}}
---

<div class="img-container">
<div class="grid" id="gallery">

  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>

  {{{images}}}

</div>
</div>
