<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid smb-row">

    <!-- Left column -->
    <div class="smb-col smb-col-left">

      {%- if site.site-image -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img src="{{ site.blog_avatar }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ site.blog_url | absolute_url }}">{{ site.blog_title }}</a>
      {%- endif -%}

    </div>


    <!-- Center column -->
    {% if page.show_avatar %}

      <!-- Blog avatar -->
      <div class="smb-col smb-col-center">      
        <div class="blog-avatar-container">
          <div class="avatar-img-border">
            <a href="{{ site.blog_url | absolute_url }}">
              <img class="avatar-img" src="{{ site.blog_avatar | relative_url }}" />
            </a>
          </div>
        </div>
      </div>

    <!-- Page title -->
    {% else %}
      <div class="smb-col smb-col-center smb-right-align-mobile">
        <h1 class="smb-page-title">
          <span class="page-heading">
            {{page.title}}
          </span>
        </h1>
      </div>
    {% endif %}  

      
    <!-- Right column -->
    {% if page.navbar %}

      <!-- Right column -->
      <div class="smb-col smb-col-right">

        <!-- Navigation bar for web browsers -->
        <div class="collapse navbar-collapse smb-blog-navbar" id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ site.blog_url | absolute_url }}">
                <span class="smb-navbar-link">Maps</span>
              </a></li>
            <li class="navlinks-container-blog">
              <a class="navlinks-parent smb-albums-menu" href="javascript:void(0)">
                <span class="smb-navbar-link">Albums</span>
              </a>
              <div class="navlinks-children">
                {% for post in paginator.posts %}
                  <a href="{{ post.url | absolute_url }}">{{post.title_slug}}</a>
                {%- endfor -%}
              </div>            
            </li>
          </ul>
        </div>

        <!-- Drop-down navigation bar for mobile -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

      </div>
      
    <!-- Otherwise, add back button -->    
    {% else %}

      <!-- Right column -->
      <div class="smb-col smb-col-right smb-hide-mobile">
        <div class="smb-right-align">

          <button class="navbar-brand smb-back-button" onclick="goBack()">
            <span>Go back</span>
          </button>
          <script>
            function goBack() {
              window.history.back();
            }
          </script> 

        </div>
      </div>

    {% endif %}

  </div>
</nav>
