<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid row">

    <!-- Left column -->
    <div class="navbar-header col">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%- if site.site-image -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img src="{{ site.blog_avatar }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ site.blog_url | absolute_url }}">{{ site.blog_title }}</a>
      {%- endif -%}
    </div>

    <!-- Center column -->
    <div class="center_column col">

      <!-- Blog avatar -->
      {% if page.show_avatar %}
        <div class="avatar-container">
          <div class="avatar-img-border">
            <a href="{{ site.blog_url | absolute_url }}">
              <img class="avatar-img" src="{{ site.blog_avatar | relative_url }}" />
            </a>
          </div>
        </div>  
      
      <!-- Page title -->
      {% else %}
        <h2><span class="page-heading">{{page.title}}</span></h2>
      {% endif %}

    </div>

    <!-- Right column -->
    {% if page.navbar %}
      <div class="collapse navbar-collapse blog-navbar-right col" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.blog_url | absolute_url }}">Maps</a></li>
          <li class="navlinks-container-blog">
            <a class="navlinks-parent" href="javascript:void(0)">Albums</a>
            <div class="navlinks-children">
              {% for post in paginator.posts %}
                <a href="{{ post.url | absolute_url }}">{{post.title_slug}}</a>
                <!-- <a href="{{ post.url | relative_url }}">{{post.title}}</a> -->
              {%- endfor -%}
            </div>            
          </li>
        </ul>
      </div>
    
    <!-- Otherwise, add back button -->    
    {% else %}
      <div class="blog-navbar-right col" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.blog_url | absolute_url }}">Back</a></li>
        </ul>
      </div>
    {% endif %}

  </div>
</nav>
