---
layout: blog
permalink: /travel
gallery_name: Xtina & Seb
show_avatar: true
navbar: true
title: Photo Albums
use-site-title: false
share-img: https://i.imgur.com/OOw8P5q.jpg
meta-description: Xtina & Seb's photos 
---


<!-- SEB EDIT: Added pagination content. -->
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
    <div class="post-image-bg img-container-post" style="background-image: url({{post.image}})"> 
        
        <div class="img-caption-post smb-container-centering">
          <h1 class="smb-post-title">
            {{post.title}}
          </h1>

          {% if post.subtitle %}
            <h3 class="smb-post-title">
              {{ post.subtitle }}
            </h3>
          {% endif %}
        </div>

    </div>
    </a>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

{% if page.comments %}
  <div class="disqus-comments">
    {% include disqus.html %}
  </div>
    {% include fb-comment.html %}
  <div class="staticman-comments">
    {% include staticman-comments.html %}
  </div>
  <div class="justcomments-comments">
    {% include just_comments.html %}
  </div>
{% endif %}

